<div class="container">
	<div class="row">
		<div >
		    <h3 style='color:#2EB9C7;font-size:20px;font-weight: bold;'>Perspectives on Marine Biodiversity and Sustainable Development:</h3>
		    <br><h3 style='color:#2EB9C7;font-size:20px;font-style:italic'>Interviews at the UN Ocean Conference, June 2017</h3>
		    <br><br>
	    </div>
	</div>	
	<div class="push15" />	
	<div class="row">		
		<div class="col-xs-4  organization">
			<div>
				<iframe width="350" height="196"  src="https://www.youtube.com/embed/sKVN1-k7V0g" frameborder="0" allowfullscreen></iframe>
			</div>
			<div class="name-font">Mr. Jake Rice </div>
			<div class="title-font">How Thriving Marine Ecosystems and Fisheries Go Hand-in-Hand
			</div>
		</div>					
		<div class="col-xs-4  organization">
			<div>
				<iframe width="350" height="196"  src="https://www.youtube.com/embed/_0VvMvKNE20" frameborder="0" allowfullscreen></iframe>
			</div>
			<div class="name-font">Mr. Hiroshi Terashima</div>
			<div class="title-font">How Reaching Sustainable Development Goal 14 is a Joint Effort
			</div>
		</div>					
		<div class="col-xs-4  organization">
			<div>
				<iframe width="350" height="196"  src="https://www.youtube.com/embed/Q1M6MaRxZxc" frameborder="0" allowfullscreen></iframe>
			</div>
			<div class="name-font">Mr. David Johnson</div>
			<div class="title-font">What is an ‘EBSA’ and Why Are They so Important?
			</div>
		</div>
	</div>	
	<div class="row">		
		<div class="col-xs-4  organization">
			<div>
				<iframe width="350" height="196"  src="https://www.youtube.com/embed/BH7o7ofMVZY" frameborder="0" allowfullscreen></iframe>
			</div>
			<div class="name-font">Mr. Yoshihisa Shirayama</div>
			<div class="title-font">Impacts of Climate Change and Debris on Deep Sea Ecosystems
			</div>
		</div>					
		<div class="col-xs-4  organization">
			<div>
				<iframe width="350" height="196"  src="https://www.youtube.com/embed/By30u54La1Y" frameborder="0" allowfullscreen></iframe>
			</div>
			<div class="name-font">Mr. Serge Garcia</div>
			<div class="title-font">Overfishing: What Can We Do to Reverse this Trend?
			</div>
		</div>					
		<div class="col-xs-4  organization">
			<div>
				<iframe width="350" height="196"  src="https://www.youtube.com/embed/BltlxX1njWg" frameborder="0" allowfullscreen></iframe>
			</div>
			<div class="name-font">Ms. Vivienne Solis Rivera</div>
			<div class="title-font">Indigenous Peoples and Local Communities Play Important Role in Marine Conservation
			</div>
		</div>
	</div>	
	<div class="row">		
		<div class="col-xs-4  organization">
			<div>
				<iframe width="350" height="196"  src="https://www.youtube.com/embed/SlXDxzm3mb4" frameborder="0" allowfullscreen></iframe>
			</div>
			<div class="name-font">Mr. Piers Dunstan</div> 
			<div class="title-font">Marine Spatial Planning
			</div>
		</div>					
		<div class="col-xs-4  organization">
			<div>
				<iframe width="350" height="196"  src="https://www.youtube.com/embed/iCMG4FQ7dR8" frameborder="0" allowfullscreen></iframe>
			</div>
			<div class="name-font">Mr. Murray Roberts</div>
			<div class="title-font">Most Pressing Threats to Deep Sea Species and Ecosystems				
			</div>
			
		</div>					
		<div class="col-xs-4  organization">
			<div>
				<iframe width="350" height="196"  src="https://www.youtube.com/embed/Nl6U-Wey7dI" frameborder="0" allowfullscreen></iframe>
			</div>
			<div class="name-font">Mr. Chris Wilcox</div>
			<div class="title-font">Effects of Marine Debris on the Environment
			</div>
		</div>
	</div>	
	<div class="row">		
		<div class="col-xs-4  organization">
			<div>
				<iframe width="350" height="196"  src="https://www.youtube.com/embed/0l9kWHGMs4o" frameborder="0" allowfullscreen></iframe>
			</div>
			<div class="name-font">Ms. Carol Turley</div>
			<div class="title-font">Impacts of Ocean Acidification on Marine Biodiversity
			</div>
		</div>
	</div>
</div>
