<div class="container">
	<div class="row">
		<div >
		    <h3 style='color:#2EB9C7;font-size:20px;font-weight: bold;'>Expert Interview Series on Aichi Biodiversity Target 11</h3>
		    <br><br>
	    </div>
	</div>	
	<div class="push15" />	
	<div class="row">		
		<div class="col-xs-4  organization">
			<div>
				<iframe width="350" height="196" src="https://www.youtube.com/embed/LGc-FrBSuQ4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
			<div class="name-font">Mr. David Johnson </div>
			<div class="title-font">Director, Global Biodiversity Initiative
			</div>
		</div>					
		<div class="col-xs-4  organization">
			<div>
				<iframe width="350" height="196" src="https://www.youtube.com/embed/qyC4LBHwnjk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
			<div class="name-font">Mr. Kevin Stringer </div>
			<div class="title-font">Associate Deputy Minister, Fisheries and Oceans Canada
			</div>
		</div>					
		<div class="col-xs-4  organization">
			<div>
				<iframe width="350" height="196" src="https://www.youtube.com/embed/7fYePN4wTwA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
			<div class="name-font">Ms. Puri Canals</div>
			<div class="title-font">President, Network of Marine Protected Areas Managers in the Mediterranean (MEDPAN)
			</div>
		</div>
	</div>	
	<div class="row">		
		<div class="col-xs-4  organization">
			<div>
				<iframe width="350" height="196" src="https://www.youtube.com/embed/wbBS_L_ymF8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
			<div class="name-font">Ms. Carolina Hazin</div>
			<div class="title-font">Global Marine Policy Coordinator, BirdLife International
			</div>
		</div>					
		<div class="col-xs-4  organization">
			<div>
				<iframe width="350" height="196" src="https://www.youtube.com/embed/CnjYy_lZLY8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
			<div class="name-font">Mr. Nicholas Bax </div>
			<div class="title-font">Director, NESP Marine Biodiversity HUB/CSIRO Australia
			</div>
		</div>		
		<div class="col-xs-4  organization">
			<div>
				<iframe width="350" height="196" src="https://www.youtube.com/embed/WqUL5mLtEIU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
			<div class="name-font">Ms. Desiree Maano </div> 
			<div class="title-font">Supervising Ecosystems Management Specialist, Biodiversity Management Bureau, Department of Environment and Natural Resources, Philippines
			</div>
		</div>	
	</div>	
	<div class="row">				
		<div class="col-xs-4  organization">
			<div>
				<iframe width="350" height="196" src="https://www.youtube.com/embed/x1vZa5ORWsA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
			<div class="name-font">Ms. Tricia Lovell </div>
			<div class="title-font">Senior Fisheries Officer, Ministry of Agriculture, Fisheries, and Barbuda Affairs, Antigua and Barbuda				
			</div>
			
		</div>					
		<div class="col-xs-4  organization">
			<div>
				<iframe width="350" height="196" src="https://www.youtube.com/embed/kYevQ0sqBTI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
			<div class="name-font">Ms. Ana Paula Leite Prates </div>
			<div class="title-font">Director of Ecosystem Conservation, Ministry of the Environment, Brazil
			</div>
		</div>		
		<div class="col-xs-4  organization">
			<div>
				<iframe width="350" height="196" src="https://www.youtube.com/embed/O0KhfhAX_0Q" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
			<div class="name-font">Mr. David Gutierrez </div>
			<div class="title-font">Director General, National Commission of Natural Protected Areas, Mexico
			</div>
		</div>	
	</div>	
	<div class="row">				
		<div class="col-xs-4  organization">
			<div>
				<iframe width="350" height="196" src="https://www.youtube.com/embed/tOdLvrWsmX4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
			<div class="name-font">Mr. Moustafa Fouda  </div>
			<div class="title-font">Minister Adviser on Biodiversity, National Focal Point, Egypt				
			</div>
			
		</div>			
	</div>
</div>
