<div class="container">

	<div class="row-fluid">
	    <div class="col-xs-6 col-lg-6">
		    <h2 class="blue-light">KUNMING-MONTREAL GLOBAL BIODIVERSITY FRAMEWORK WITH ITS 2050 GOALS AND 2030 TARGETS</h2>
		    <div class="push15"></div>
		    <div class="textbox">
			    <p>In light of the urgent threats and challenges to global biodiversity, the 15th Conference of the Parties to the Convention on Biological Diversity (CBD) adopted the <a href='https://www.cbd.int/gbf'>Kunming-Montreal Global Biodiversity Framework (KMGBF)</a> and its 4 goals and 23 targets, which build on the Convention’s previous Strategic Plans and support the achievement of the Sustainable Development Goals.</p>

			    <p>The KMGBF outlines a pathway to catalyze urgent and transformative action to achieve its 2030 Mission to halt and reverse biodiversity loss, while ensuring the fair and equitable sharing of benefits, and providing means of implementation, in order to achieve its 2050 Vision.</p>

				<p>The 2050 Vision is a world of living in harmony with nature where: "by 2050, biodiversity is valued, conserved, restored and wisely used, maintaining ecosystem services, sustaining a healthy planet and delivering benefits essential for all people."</p>

				<p>The KMGBF is built around a theory of change, which underscores that urgent policy action globally, regionally and nationally is required to transform economic, social and financial models to reverse biodiversity loss and reach the 2050 Vision, calling for the whole-of-society and whole-of-government approaches, relying on political will, action and cooperation by all levels of government and society.</p>

				<p>Promoting coherence, complementarity and cooperation between the CBD and its Protocols, other biodiversity related conventions, other relevant multilateral agreements and international institutions, the KMGBF creates opportunities for cooperation and partnerships among the diverse actors to enhance its implementation.</p>
			</div>

		    <div class="push15"></div><div class="col-md-12 divider">&nbsp;</div><div class="push20"></div>

		    <div class="textbox">
				<p>The KMGBF contains 4 outcome-oriented <a href='https://www.cbd.int/gbf/goals'>goals</a> to be achieved by 2050 and 23 action-oriented <a href='https://www.cbd.int/gbf/targets'>targets</a> to be achieved by 2030, and several <a href='https://www.cbd.int/gbf/introduction'>sections</a> providing specific guidance on its implementation and monitoring.</p>

				<p>The 23 targets focus on <span class="important">reducing threats to biodiversity</span> (Targets 1-8), <span class="important">meeting people’s needs through sustainable use and benefit-sharing</span> (Targets 9-13), and <span class="important">tools and solutions for implementation and mainstreaming</span> (Targets 14-23). </p>

				<p>The targets are highly crosscutting, with nearly all of them being relevant to marine and coastal biodiversity and essential for ocean health and sustainability. Refer to <a href='https://www.cbd.int/marine/soi/gbf-soi-Infographic-1.png'>this infographic</a> to learn more about the ocean elements within the targets.</p>
			
			</div>

		    <div class="push15"></div><div class="col-md-12 divider">&nbsp;</div><div class="push20"></div>

		    <div class="textbox">
			    <!-- <h4>Proin ipsum nibh</h4> -->

				<p>In adopting the KMGBF, the Parties to the CBD laid out an ambitious agenda to reverse the trends of biodiversity loss.</p>

				<p>However, achieving the goals and targets will require strategic, coordinated, and targeted efforts by a range of stakeholders across all sectors and levels of society in order to make tangible process.</p>

				<p>This underscores the importance of the Sustainable Ocean Initiative in building bridges across sectors and disciplines, focusing on holistic, integrated approaches to the conservation and sustainable use of marine and coastal biodiversity.</p>

			    <p>The Sustainable Ocean Initiative focuses on addressing three key types of challenges that Parties face in advancing the implementation of the KMGBF in marine and coastal areas:</p>

			    <ul class="text">
			    	<li><span class="important">Capacity gaps:</span> Lack of institutional, technical, managerial, and scientific resources; poor understanding of capacity needs at various levels in the context of cross-sectoral management; lack of cross-sectoral training for managers at the ground-level;</li>
			    	<li><span class="important">Issues related to governance and engagement:</span> Sectoral conflicts; lack of coordination across governmental agencies and levels of governments; limited participation of indigenous peoples and local communities;</li>
			    	<li><span class="important">Limited information base:</span> Lack of policy relevant information to support decision-making; inadequate coordination of existing knowledge.</li>
				</ul>
				
				<p>The Sustainable Ocean Initiative aims to address these challenges by serving as a global platform to catalyze partnerships, leverage resources, build on lessons learned and knowledge gained, and facilitate improved coordination and dialogue. </p>
		    </div>
	    </div>

	    <div class="col-xs-6 col-lg-6">
		   <img src="app/images/strategic-plan.jpg" alt="plants and oceans">
		   <div class="clear push15"></div>
		   <div class="col-xs-6 col-lg-6 nopaddingleft imgsize green-light-box"></div>
		   <div class="col-xs-6 col-lg-6 nopaddingright">
		   	 <img src="app/images/island-266.jpg" alt="tropical island">
		   </div>
		   <div class="clear push15"></div>
		   <div class="col-xs-8 col-lg-8 nopaddingleft">
		   	 	<img src="app/images/boat-355.jpg" alt="boat on sea">
		   </div>
		   <div class="col-xs-4 col-lg-4 nopaddingright imgsize dark-green-box"></div>
		   <div class="clear push15"></div>
		   <div class="col-xs-12 col-lg-12 nopaddingright imgsize hexa-pattern"></div>
	    </div>
	</div>
</div>
