<div class="container">

    <div class="push15 clear">&nbsp;</div>

    <div class="row">
        <div class="col-xs-7 col-lg-7">

            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" style="height:360px;overflow-y:hidden">
                <ol class="carousel-indicators" style="top:20px;bottom:initial">
                    <li data-target="#carousel-example-generic" ng-repeat="item in carouselData.items" data-slide-to="{{$index}}" ng-class="{active: $index==0}"></li>
                    
                </ol>
                
                <div class="carousel-inner">
                    <div class="item" ng-repeat="item in carouselData.items" ng-class="{active: $index==0}">
                            <img ng-src="{{item.imageUrl}}" alt="{{item.title}}" style="width:100%">
                            
                            <div class="carousel-text"  >
                                <center>
                                    <h4 class="color-white">{{item.title}}</h4>                                  
                                        
                                        <span ><a class="color-white" ng-href="{{item.targetUrl}}">Read More ></a></span>                                      
                                    
                                </center>
                            </div>
                    </div>
                </div>
                    
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>

        <div class="col-xs-5 col-lg-5">
            <div class="soimission-block">
                <h1 class="blue-light center">SOI Mission</h1>
                <div class="push5"></div>
                <div class="push5"></div>
                <p class="important">To provide a global platform to build partnerships and enhance capacity to conserve and sustainably use marine and coastal biodiversity in a holistic manner.</p>
                <div class="push5"></div>
                <div class="push5"></div>
            </div>
            <div class="push15"></div>
            <div class="textbox" style="height:214px">
                <div class="col-xs-12" style="margin-top:0px;">
                    <div class="col-xs-2" ><a href="https://www.cbd.int/doc/meetings/mar/soiom-2014-02/official/soiom-2014-02-actionplan-en.pdf" class="blue-light" ><img src='app/images/action-plan.png' width="40px"  class='pull-right'></a></div>
                              <div class="col-xs-10">   <a href="https://www.cbd.int/doc/meetings/mar/soiom-2014-02/official/soiom-2014-02-actionplan-en.pdf" > <span class="blue-light" style="font-size:1.4em;line-height:2em;" >SOI Action Plan 2015-2020</span></a></div>
                </div>
                <div class="col-xs-12" style="margin-top:12px;">
                    <div class="col-xs-2"> <a href="https://www.cbd.int/marine/soi/soi-high-level-concluding-statement-en.pdf" class="blue-light"><img src='app/images/cop-12-logo.png' width="50px"  class='pull-right'></a></div>
                              <div class="col-xs-10" >  <a href="https://www.cbd.int/marine/soi/soi-high-level-concluding-statement-en.pdf" ><span class="blue-light" style="font-size:1.4em;line-height:1em;" >2014 Sustainable Ocean Initiative <br>High-level Meeting Pyeongchang Statement</span></a></div>
                </div>
                <div class="col-xs-12" style="margin-top:18px;">
                    <div class="col-xs-2" ><a href="https://www.cbd.int/marine/soi/soi-seoul-outcome-brochure-en.pdf" class="blue-light" ><img src='app/images/soi-seoul-outcome-brochure.png' width="40px" class='pull-right'></a></div>
                              <div class="col-xs-10">   <a href="https://www.cbd.int/marine/soi/soi-seoul-outcome-brochure-en.pdf" > <span class="blue-light" style="font-size:1.4em;line-height:2em; margin-top:10px; display:block" >Seoul Outcome of SOI Global Dialogue</span></a></div>
                </div>
            </div>
        </div>
    </div>

    <div class="push50 clear">&nbsp;</div>

    <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-xs-6 col-sm-3 square blue-light-box" style='margin-left:8px'>
            <h2 class="large">SOI<br />News</h2>
        </div>

        <div class="col-xs-6 col-sm-3 square textbox marginleft">            
            <a href="https://www.cbd.int/coral-reefs/"><h3 class="blue-light">Launch of the Coral Portal</h3></a>
            <div class="push15"></div>
            <p>In November 2018, the CBD Secretariat launched the Global Coral Portal to facilitate collaboration and information-sharing on sustainable management of coral reefs and related ecosystems. This Portal provides a window to various sources of information on the status of coral reefs and the range of commitments, initiatives, and actions at different scales to protect and sustainably manage coral reefs and closely associated.</p>
            <a href="https://www.cbd.int/coral-reefs/" class="arrow-more_blue-light">&nbsp;</a>
        </div>

        <div class="col-xs-6 col-sm-3 square textbox marginleft">            
            <a href="http://enb.iisd.org/biodiv/cop14/sustainable-ocean-day/"><h3 class="blue-light">Sustainable Ocean Day: Ocean Voices</h3></a>
            <div class="push15"></div>
            <p>On the margins of COP-14 in December 2018, Sustainable Ocean Day: Ocean Voices brought together over 140 participants and provided a unique forum to share stories conveying various “voices” of the ocean in a creative and inspirational manner. Ocean stakeholders from different sectors shared experiences and highlighted solutions to address the challenges facing marine and coastal biodiversity, in line with the 2050 Vision for Biodiversity.</p>
            <a href="http://enb.iisd.org/biodiv/cop14/sustainable-ocean-day/" class="arrow-more_blue-light">&nbsp;</a>
        </div>

        <div class="col-xs-6 col-sm-3 square textbox marginleft">
            <a href="https://www.cbd.int/conferences/2018"><h3 class="blue-light">14th Meeting of the CBD Conference of the Parties</h3></a>
            <div class="push15"></div>
            <p>In December 2018, the CBD Conference of the Parties at its 14th meeting (CBD COP 14) took a number of decisions regarding marine and coastal biodiversity, including on ecologically or biologically significant marine areas (EBSAs), marine debris, anthropogenic underwater noise, mining, and mainstreaming biodiversity into various sectors. The COP also agreed on the process to develop the post-2020 biodiversity framework as a follow-up to the Aichi Biodiversity Targets. 
            </p>
            <a href="https://www.cbd.int/conferences/2018" class="arrow-more_blue-light">&nbsp;</a>
        </div>
    </div>

    <div class="clear push30">&nbsp;</div>

    <div class="row row-offcanvas row-offcanvas-right">        

        <div class="col-xs-6 col-sm-3 square textbox marginleft8">            
            <a href="http://enb.iisd.org/oceans/soi2/"><h3 class="blue-light">Seoul Outcome Plus 2</h3></a>
            <div class="push15"></div>
            <p>Approximately 100 representatives from regional seas organizations (RSOs), regional fishery bodies (RFBs) and other international partners gathered in Seoul in April 2018 for the 2nd Meeting of the Sustainable Ocean Initiative (SOI) Global Dialogue. This meeting developed the “Seoul Outcome Plus 2”, identifying practical ways forward for cross-sectoral collaboration at the regional scale, including the development of regional dialogues/partnership initiatives.</p>
            <a href="http://enb.iisd.org/oceans/soi2/" class="arrow-more_blue-light">&nbsp;</a>
        </div>

        <div class="col-xs-6 col-sm-3 square textbox marginleft">            
            <a href="https://www.cbd.int/meetings/SOIWS-2018-01"><h3 class="blue-light">SOI National Workshop for Cameroon</h3></a>
            <div class="push15"></div>
            <p>In January 2018, SOI convened a capacity building workshop for Cameroon, in collaboration with  the Ministry of Environment, Protection of Nature and Sustainable Development and GOBI, and with the financial support from the Governments of the Republic of Korea and the Sweden. This workshop identified potential areas of ecological or biological significance (EBSAs), and potential management measures in these areas.</p>
            <a href="https://www.cbd.int/meetings/SOIWS-2018-01" class="arrow-more_blue-light">&nbsp;</a>
        </div>

        <div class="col-xs-6 col-sm-3 square textbox marginleft">
            <a href="https://mailchi.mp/c72c711324a0/announcement-of-the-second-meeting-of-the-sustainable-ocean-initiative-global-dialogue-10-13-april-2018-seoul"><h3 class="blue-light">Announcement of the Second Sustainable Ocean Initiative Dialogue</h3></a>
            <div class="push15"></div>
            <p>Building on the resounding success of the first meeting held in 2016, the second meeting of the SOI Global Dialogue will be convened from 10 to 13 April 2018 in Seoul, Republic of Korea, with a view to identifying opportunities to improve regional-scale cooperation urgently needed to accelerate national efforts to achieve the Aichi Biodiversity Targets and Sustainable Development Goals. 
            </p>
            <a href="http://mailchi.mp/c72c711324a0/announcement-of-the-second-meeting-of-the-sustainable-ocean-initiative-global-dialogue-10-13-april-2018-seoul" class="arrow-more_blue-light">&nbsp;</a>
        </div>

        <div class="col-xs-6 col-sm-3 square textbox marginleft">
            <a href="http://enb.iisd.org/oceans/sdg14conference/cbd-partners/about.html"><h3 class="blue-light">SOI at the UN Ocean Conference </h3></a>
            <div class="push15"></div>
            <p>SOI took center stage at the UN Ocean Conference in June 2017, where the CBD Secretariat and SOI partners organized the high-level Sustainable Ocean Night reception and two side events on SOI efforts.  The CBD Executive Security discussed SOI in her presentation as a panelist for the Partnership Dialogues. SOI efforts were formally registered as voluntary commitments for the Conference. 
            </p>
            <a href="http://enb.iisd.org/oceans/sdg14conference/cbd-partners/about.html" class="arrow-more_blue-light">&nbsp;</a>
        </div>
    </div>

    <div class="clear push30">&nbsp;</div>

    <div class="row row-offcanvas row-offcanvas-right">        

        <div class="col-xs-6 col-sm-3 square textbox marginleft8">
            <a href="https://www.cbd.int/doc/?meeting=SOIWS-2017-01"><h3 class="blue-light">SOI Capacity-Building Workshop for the WCCA </h3></a>
            <div class="push15"></div>
            <p>Convened in February 2017, this workshop brought together practitioners from governments, regional organizations and local communities to share experiences and challenges in implementation and to outline strategies for enhancing integrated management. It included a session to share experiences on the role of traditional knowledge and indigenous peoples and local communities in marine spatial planning.
            </p>
            <a href="https://www.cbd.int/doc/?meeting=SOIWS-2017-01" class="arrow-more_blue-light">&nbsp;</a>
        </div>

        <div class="col-xs-6 col-sm-3 square textbox marginleft">
            <a href="events"><h3 class="blue-light">SOI National Workshops for Timor-Leste and Vanuatu </h3></a>
            <div class="push15"></div>
            <p>In 2016, SOI convened national-level capacity building workshops for Timor-Leste and Vanuatu. Organized with CSIRO/Australia and other partners, these workshops focused on supporting the development of strategies for marine spatial planning. In Vanuatu, this focused specifically on strategies to implement its recently adopted National Ocean Policy.
            </p>
            <a href="events" class="arrow-more_blue-light">&nbsp;</a>
        </div>

        <div class="col-xs-6 col-sm-3 square textbox marginleft">
            <a href="https://www.cbd.int/doc/?meeting=SOIWS-2016-03"><h3 class="blue-light">SOI / Pacific Ocean Alliance Regional Workshop for the Pacific Islands</h3></a>
            <div class="push15"></div>
            <p>31 October - 4 November 2016, Apia, Samoa</p>

            <p>The meeting focused on opportunities for achieving the Aichi Biodiversity Targets and SDG 14 in the Pacific Islands’ region, facilitated sharing of experiences across countries, and outlined ways to enhance cross-sectoral planning and management of marine resources.
            </p>
            <a href="https://www.cbd.int/doc/?meeting=SOIWS-2016-03" class="arrow-more_blue-light">&nbsp;</a>
        </div>
        <div class="col-xs-6 col-sm-3 square textbox marginleft">
            <a href="https://www.cbd.int/doc/?meeting=SOIOM-2016-01"><h3 class="blue-light">SOI Global Dialogue with RSOs and RFBs</h3></a>
            <div class="push15"></div>
            <p>26 - 29 September 2016, Seoul, Republic of Korea</p>

            <p>This meeting brought together regional seas organizations, regional fishery bodies and other experts to exchange experiences and discuss approaches for addressing biodiversity and fisheries issues, and identify opportunities to enhance collaboration towards achievement of the Aichi Biodiversity Targets.
            </p>
            <a href="https://www.cbd.int/doc/?meeting=SOIOM-2016-01" class="arrow-more_blue-light">&nbsp;</a>
        </div>
</div>
<div class="clear push30">&nbsp;</div>   
<div class="row row-offcanvas row-offcanvas-right">        
        <div class="col-xs-6  col-sm-3  square textbox marginleft8">
            <a href="events"><h3 class="blue-light">SOI National Workshops Convened for Namibia and Samoa</h3></a>
            <div class="push15"></div>
            <p>In 2015, SOI convened national-level capacity development workshops for Namibia and Samoa, in collaboration with the governments of Namibia and Samoa, respectively, as well as relevant organizations. These workshops brought together a wide range of stakeholders from across sectors to address specific national-level capacity needs in order to facilitate improved implementation.</p>
            <a href="events" class="arrow-more_blue-light">&nbsp;</a>
        </div>

        <div class="col-xs-6 col-sm-3 square textbox marginleft">
            <a href="https://www.cbd.int/doc/publications/cbd-ts-76-en.pdf"><h3 class="blue-light">CBD Publishes Guidance for Integrated Coastal Management</h3></a>
            <div class="push15"></div>
            <p>The CBD Secretariat, in collaboration with PEMSEA and with the support of the government of Japan, produced CBD Technical Series report no.76, which provides guidance for integrated coastal management.  This guidance on based on the many experiences of PEMSEA in supporting ICM implementation in the Seas of East Asia.</p>
            <a href="https://www.cbd.int/doc/publications/cbd-ts-76-en.pdf" class="arrow-more_blue-light">&nbsp;</a>
        </div>

        <div class="col-xs-6 col-sm-3 square textbox  marginleft">
            <img src="app/images/new-website.jpg" alt="printscreen new website" />
            <div class="push5"></div><div class="push5"></div>
            <h3 class="blue-light">SOI Website Launched</h3>
            <div class="push5"></div>
            <p>The Sustainable Ocean Initiative has launched this website as a means to improve information-sharing and awareness regarding the activities of SOI and its many partners, and to facilitate connectivity and coordination among SOI partners.</p>
        </div>
</div>
<div class="clear push30">&nbsp;</div>
        <div class="col-xs-6 col-sm-6 col-sm-push-3" style="margin-left:10px">
            <iframe width="473" height="266"  src="https://www.youtube.com/embed/4q6RiihseQ8" frameborder="0" allowfullscreen></iframe>
        </div>
    

    <div class="clear push50"></div>
</div><!--/container-->
